Flask==2.3.0
pandas==2.0.2
protobuf==4.23.3
SQLAlchemy==2.0.16
Werkzeug==2.3.6
google==3.0.0
google-api-core==2.11.0
google-auth==2.20.0
google-auth-oauthlib==1.0.0
google-cloud==0.34.0
google-cloud-bigquery==3.11.3
google-cloud-bigquery-storage==2.20.0
google-cloud-core==2.3.2
google-cloud-documentai==2.15.0
google-cloud-secret-manager==2.16.1
google-cloud-storage==2.9.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.1
greenlet==2.0.2
grpc-google-iam-v1==0.12.6
grpcio==1.56.0
grpcio-status==1.54.2